/* Thin */
@font-face {
  font-family: "Stolzl";
  src: url(../../fonts/Stolzl-Thin.ttf) format("truetype");
  font-style: normal;
  font-weight: 250;
}

/* Light */
@font-face {
  font-family: "Stolzl";
  src: url(../../fonts/Stolzl-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: 300;
}

/* Book */
@font-face {
  font-family: "Stolzl";
  src: url(../../fonts/Stolzl-Book.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}

/* Regular */
@font-face {
  font-family: "Stolzl";
  src: url(../../fonts/Stolzl-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 450;
}

/* Medium */
@font-face {
  font-family: "Stolzl";
  src: url(../fonts/Stolzl-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: 500;
}

/* Bold */
@font-face {
  font-family: "Stolzl";
  src: url(../fonts/Stolzl-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
}
