/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to bottom right, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat; }

.btn--inline {
  padding-bottom: 2px;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  color: var(--color-primary);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid currentColor;
  cursor: pointer;
  transition: all 0.2s; }
  .btn--inline span {
    margin-left: 3px;
    transition: margin-left 0.2s; }
  .btn--inline:hover {
    color: var(--color-grey-dark-1); }
    .btn--inline:hover span {
      margin-left: 8px; }
  .btn--inline:focus {
    outline: none;
    animation: pulsate 1s infinite; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 31.25em) {
    .search {
      order: 1;
      flex: 0 0 100%; } }
  .search__input {
    width: 90%;
    margin-right: -3.25rem;
    padding: 0.7rem 2rem;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    border-radius: 100px;
    transition: all 0.2s; }
    @media only screen and (max-width: 31.25em) {
      .search__input {
        margin-left: -1.25rem; } }
    .search__input:focus {
      width: 100%;
      outline: none;
      background-color: var(--color-grey-light-3); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4); }
  .search__input:focus + .search__button {
    background-color: var(--color-grey-light-3); }
  .search__button {
    border: none;
    background-color: var(--color-grey-light-2); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-grey-dark-3); }

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch; }
  .user-nav > * {
    height: 100%;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    cursor: pointer; }
    .user-nav > *:hover {
      background-color: var(--color-grey-light-2); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    width: 2.25rem;
    height: 2.25rem;
    fill: var(--color-grey-dark-2); }
  .user-nav__notification {
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    width: 1.75rem;
    height: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: #fff;
    background-color: var(--color-primary);
    border-radius: 50%; }
  .user-nav__user-photo {
    width: 3.75rem;
    height: 3.75rem;
    margin-right: 1rem;
    border-radius: 50%; }

.side-nav {
  margin-top: 3.5rem;
  font-size: 1.4rem;
  list-style: none; }
  @media only screen and (max-width: 56.25em) {
    .side-nav {
      margin: 0;
      display: flex; } }
  .side-nav__item {
    position: relative; }
    @media only screen and (max-width: 56.25em) {
      .side-nav__item {
        flex: 1; } }
    .side-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
      @media only screen and (max-width: 56.25em) {
        .side-nav__item:not(:last-child) {
          margin-bottom: 0; } }
    .side-nav__item::before {
      content: "";
      width: 3px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transform: scaleY(0);
      background-color: var(--color-primary);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s; }
    .side-nav__item:hover::before, .side-nav__item--active::before {
      transform: scaleY(1);
      width: 100%; }
    .side-nav__item:active::before {
      background-color: var(--color-primary-light); }
  .side-nav__link:link, .side-nav__link:visited {
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-grey-light-1); }
    @media only screen and (max-width: 56.25em) {
      .side-nav__link:link, .side-nav__link:visited {
        justify-content: center;
        padding: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .side-nav__link:link, .side-nav__link:visited {
        flex-direction: column;
        align-content: center;
        padding: 1.5rem 0.5rem; } }
  .side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }
    @media only screen and (max-width: 37.5em) {
      .side-nav__icon {
        margin-right: 0;
        margin-bottom: 0.7rem;
        width: 1.5rem;
        height: 1.5rem; } }

.legal {
  padding: 2.5rem;
  color: var(--color-grey-light-4);
  font-size: 1.2rem;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .legal {
      display: none; } }

.gallery {
  display: flex;
  font-size: 0; }
  .gallery__photo {
    width: 100%; }

.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line); }
  @media only screen and (max-width: 27.5rem) {
    .overview {
      flex-wrap: wrap;
      padding: 0 3rem;
      text-align: center; } }
  .overview__heading {
    padding: 1.5rem 3rem;
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px; }
    @media only screen and (max-width: 37.5em) {
      .overview__heading {
        font-size: 1.8rem;
        padding: 1.25rem 2rem; } }
    @media only screen and (max-width: 27.5rem) {
      .overview__heading {
        flex-basis: 70%; } }
  .overview__stars {
    margin-right: auto;
    display: flex; }
    @media only screen and (max-width: 27.5rem) {
      .overview__stars {
        flex-basis: 30%; } }
  .overview__icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary); }
    .overview__icon--location {
      margin: 0.5rem; }
  .overview__location {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin-left: auto; }
  .overview__rating {
    margin-left: 3rem;
    padding: 0 2.25rem;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: var(--color-primary); }
    @media only screen and (max-width: 37.5em) {
      .overview__rating {
        padding: 0 1.5rem; } }
    .overview__rating--average {
      margin-bottom: -3px;
      font-size: 2.25rem;
      font-weight: 300; }
      @media only screen and (max-width: 37.5em) {
        .overview__rating--average {
          font-size: 1.8rem; } }
    .overview__rating--count {
      font-size: 0.8rem;
      text-transform: uppercase; }
      @media only screen and (max-width: 37.5em) {
        .overview__rating--count {
          font-size: 0.5rem; } }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.list {
  margin: 3rem 0;
  padding: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  border-top: var(--line);
  border-bottom: var(--line); }
  @media only screen and (max-width: 27.5rem) {
    .list {
      flex-direction: column; } }
  .list__item {
    margin-bottom: 0.7rem;
    flex: 0 0 50%; }
    .list__item::before {
      content: "";
      width: 1rem;
      height: 1rem;
      margin-right: 0.7rem;
      display: inline-block;
      background-image: url(../img/SVG/chevron-thin-right.svg);
      background-size: cover; }
      @supports (-webkit-mask-image: url()) {
        .list__item::before {
          background-color: var(--color-primary);
          -webkit-mask-image: url(../img/chevron-thin-right.svg);
          -webkit-mask-size: cover;
          background-image: none; } }

.recommend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;
  color: var(--color-grey-dark-3); }
  .recommend__friends {
    display: flex; }
  .recommend__photo {
    box-sizing: content-box;
    width: 4rem;
    height: 4rem;
    border: 3px solid #fff;
    border-radius: 50%; }
    .recommend__photo:not(:last-child) {
      margin-right: -2rem; }

.review {
  position: relative;
  padding: 3rem;
  margin-bottom: 3.5rem;
  background-color: #fff;
  box-shadow: var(--shadow-light);
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .review {
      padding: 2rem;
      margin-bottom: 3rem; } }
  .review__text {
    position: relative;
    margin-bottom: 2rem;
    z-index: 10; }
  .review__user {
    display: flex;
    align-items: center; }
  .review__photo {
    width: 4.5rem;
    height: 4.5rem;
    margin-right: 1rem;
    border-radius: 50%; }
  .review__user-box {
    font-size: 1.1rem; }
  .review__user-name {
    margin-bottom: 0.4rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--color-grey-dark-1); }
  .review__user-date {
    color: var(--color-grey-dark-3); }
  .review__rating {
    margin-left: auto;
    font-size: 2.2rem;
    font-weight: 300;
    color: var(--color-primary); }
  .review::before {
    content: "\201C";
    display: block;
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    width: 5rem;
    height: 5rem;
    font-family: sans-serif;
    font-size: 20rem;
    line-height: 1;
    color: var(--color-grey-light-2);
    z-index: 1; }

.cta {
  padding: 3.5rem 3rem;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .cta {
      padding: 2.5rem 3rem; } }
  .cta__book-now {
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase; }

.btn {
  cursor: pointer;
  position: relative;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  border-radius: 400px;
  border: none;
  overflow: hidden; }
  .btn > * {
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: all 0.2s; }
  .btn__visible {
    padding: 2rem 7.5rem; }
  .btn__hidden {
    display: inline-block;
    position: absolute;
    top: -100%;
    left: 0;
    padding: 2rem 0; }
  .btn:hover {
    background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark)); }
    .btn:hover .btn__visible {
      transform: translateY(100%); }
    .btn:hover .btn__hidden {
      top: 0; }
  .btn:focus {
    outline: none;
    animation: pulsate 1s infinite; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark); }
  @media only screen and (max-width: 75em) {
    .container {
      width: 100%;
      max-width: 100%;
      margin: 0; } }

.header {
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  background-color: #fff;
  border-bottom: var(--line); }
  @media only screen and (max-width: 31.25em) {
    .header {
      flex-wrap: wrap;
      height: 11rem;
      align-items: space-around; } }

.content {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column; } }

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 18%;
  background-color: var(--color-grey-dark-1); }

.hotel-view {
  background-color: #fff;
  flex: 1; }

.detail {
  padding: 4.5rem;
  display: flex;
  font-size: 1.4rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line); }
  @media only screen and (max-width: 56.25em) {
    .detail {
      padding: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .detail {
      flex-direction: column; } }

.description {
  margin-right: 4.5rem;
  padding: 3rem;
  flex: 0 0 60%;
  background-color: #fff;
  box-shadow: var(--shadow-light); }
  @media only screen and (max-width: 56.25em) {
    .description {
      padding: 2rem;
      margin-right: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .description {
      margin-right: 0;
      margin-bottom: 3rem; } }

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; }
