@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
  --foreground-rgb: hsl(235, 18%, 26%);
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: hsl(235, 18%, 26%);
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: hsl(234, 29%, 20%);
  background: hsl(235, 18%, 26%);
}
